
.page-main {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #161616;
  }
  .header {
    height: 8%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 10px 10px 0 10px;
    border-radius: 20px;
    box-shadow: 2px 2px 5px rgb(0 0 0 / 30%), -2px -2px 5px #414e622a;
    &>a {
      transform: scale(2);
    }
  }
  .body {
    font-weight: 300;
    height: 92%;
    display: flex;
    border-radius: 20px;
    color: rgba(255, 255, 255, 0.705);
    &__left {
      margin: 10px;
      border-radius: inherit;
      box-shadow: inset 2px 2px 5px rgb(0 0 0 / 30%), inset -2px -2px 5px #414e623a;
      width: 400px;
      color: inherit;
      &-item {
        color: inherit;  
        font-weight: 400;
        margin: 20px 10px 20px 10px;
        border-radius: inherit;
        height: 80px;
        display: flex;
        padding: 20px;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        box-shadow: 2px 2px 5px rgb(0 0 0 / 20%), -2px -2px 5px #414e623a;
        &:first-child {
          margin-top: 10px;
        }
        &-image{
          border-radius:100px;
          width: 60px;
          height: 60px;
          box-shadow: 2px 2px 5px rgb(0 0 0 / 10%), -2px -2px 5px #414e623a;
          border: 2px solid rgba(61, 37, 37, 0.05);
          margin-right: 10px;
        }
        &-name {
          
        }
      }
    }
    &__chatBox {
      border-radius: inherit;
      width: 100%;
      display: flex;
      flex-direction: column;
      color: inherit;
      &-header {
        margin: 10px;
        border-radius: inherit;
        box-shadow: inset 2px 2px 5px rgb(0 0 0 / 30%), inset -2px -2px 5px #414e623a;
        height: 60px;
      }
      &-msgArea {
        padding: 10px 10px 0 10px;
        margin: 10px;
        border-radius: inherit;
        box-shadow: inset 2px 2px 5px rgb(0 0 0 / 30%), inset -2px -2px 5px #414e623a;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        overflow-y: scroll;
        height: 100%;
        color: inherit;
        &::-webkit-scrollbar{
          background-color: transparent;
          width: 0px;
        }
// ::-webkit-scrollbar hình nền của chính thanh cuộn đó.
// ::-webkit-scrollbar-button các nút định hướng trên thanh cuộn.
// ::-webkit-scrollbar-track không gian trống bên dưới thanh tiến trình.
// ::-webkit-scrollbar-track-piece phần trên cùng của thanh tiến trình không bị che bởi ảnh thumb.
// ::-webkit-scrollbar-thumb phần tử cuộn có thể kéo để thay đổi kích cỡ.
// ::-webkit-scrollbar-corner góc dưới cùng của phần tử cuộn, nơi hai thanh cuộn gặp nhau.
// ::-webkit-resizer chỉnh sửa lại kích thước có thể kéo được xuất hiện phía trên thanh cuộn ở góc dưới cùng của một số phần tử.
        &-item {
          padding: 10px 15px;
          max-width: 300px;
          box-shadow: 2px 2px 5px rgb(0 0 0 / 20%), -2px -2px 5px #414e623a;
          border-radius: inherit;
          margin-bottom: 10px;
          color: inherit;
          font-weight:400;
        }
      }
      &-input {
        margin: 10px;
        border-radius: inherit;
        box-shadow: inset 2px 2px 5px rgb(0 0 0 / 30%), inset -2px -2px 5px #414e623a;
        height: 60px;
      }
    }
  }
  .sent {
    align-self: flex-end;
  }